@import "./mixins.scss";
@import "./breakpoints.scss";
@import "./variables.scss";

$light-background: $white;
$dark-background: $verydarkblue;

@mixin style($background) {
  background-color: $background;
}

.filter {
  width: 85%;
  height: 80px;
  background-color: $white;
  border-radius: 6px;
  box-sizing: border-box;
  position: absolute;
  top: 96px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s ease;
  &.light {
    @include style($light-background);
  }
  &.dark {
    @include style($dark-background);
  }
  .formControlLabel {
    font-family: "Kumbh Sans", sans-serif;
  }
  .option {
    color: white;
  }
}
